<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Guthaben Abfragen</ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="symbol" color="background" padding>
      <ion-segment-button value="btc">
        <strong>BTC</strong>
      </ion-segment-button>
      <ion-segment-button value="bch">
        <strong>BCH</strong>
      </ion-segment-button>
      <ion-segment-button value="btg">
        <strong>BTG</strong>
      </ion-segment-button>
      <ion-segment-button value="eth">
        <strong>ETH</strong>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-card text-center>
    <ion-card-header>
      Bitcoin Wallet abfragen
    </ion-card-header>
    <ion-card-content>
        Diese Funktion kannst du nutzen um das aktuelle Guthaben eines Wallets abzufragen in dessen Public Key du bist. Scanne dazu einfach den QR Code oder kopiere die Wallet Adresse in das untenstehende Textfeld.
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-item>
          <ion-input  type="text" placeholder="Wallet Adresse..." (input)="changeButton($event.target.value)"></ion-input>
        </ion-item>
    </ion-card>

  <div padding-left padding-right>
      <button *ngIf="scanButton" ion-button small block color="primary">Jetzt Scannen</button>
      <button *ngIf="!scanButton" ion-button small block color="primary">Jetzt Abfragen</button>
  </div>

</ion-content>