<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>BitcoinBlog.de</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>

  <ion-refresher (ionRefresh)="loadPosts($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngFor="let article of articles" class="fade-animation">
    <ion-card (click)="openDetail(article);">
      <img [src]="article.thumbnail" *ngIf="article.thumbnail" class="fade-animation" />
      <ion-item text-wrap>
        <h2 [innerHTML]="article.title"></h2>
        <p>{{article.pubDate | amTimeAgo}}</p>
      </ion-item>
      <ion-card-content>
        <p [innerHTML]="article.description"></p>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-infinite-scroll (ionInfinite)="loadPosts(null, $event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>