<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="trade?.type == 'buy'">Details zum Kauf</ion-title>
    <ion-title *ngIf="trade?.type == 'sell'">Details zum Verkauf</ion-title>
  </ion-navbar>

</ion-header>




<ion-content>

  <ion-card *ngIf="trade" class="fade-animation">
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col>
            <p>Menge</p>
          </ion-col>
          <ion-col>
            <p>Kurs</p>
          </ion-col>
          <ion-col>
            <p>Volumen</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{ trade?.amount_currency_to_trade | number:'1.2-4':'de'}} {{currency}}
          </ion-col>
          <ion-col>
            {{ trade?.price | number:'1.2-2':'de'}} &euro;
          </ion-col>
          <ion-col>
            {{trade?.volume_currency_to_pay | number:'1.2-2':'de'}} &euro;
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="trade" class="fade-animation">
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col col-5>
            <p>
            ID<br>
            Status<br>
            Verkäufer<br>
            Käufer<br>
            Bewertung<br>
            gestartet am<br>
            aktualisiert am<br>
            Zahlungsart
          </p>
          </ion-col>
          <ion-col col-7>
            <strong>{{trade?.trade_id}}</strong><br>
            <div *ngIf="trade?.state === 1">Erfolgreich abgeschlossen</div>
            <div *ngIf="trade?.state === -1">Angebrochen</div>
            <div *ngIf="trade?.state === 0">Noch nicht abgeschlossen</div>
            <span *ngIf="trade?.type == 'sell'">Ich</span><span *ngIf="trade?.type == 'buy'">{{trade?.trading_partner_information.username || 'laden...'}} <img src="assets/level/{{trade?.trading_partner_information.trust_level}}.svg" image-xs> <img src="assets/market/verified.svg" *ngIf="trade?.trading_partner_information.is_kyc_full" image-xs></span><br>
            <span *ngIf="trade?.type == 'buy'">Ich</span><span *ngIf="trade?.type == 'sell'">{{trade?.trading_partner_information.username || 'laden...'}} <img src="assets/level/{{trade?.trading_partner_information.trust_level}}.svg" image-xs> <img src="assets/market/verified.svg" *ngIf="trade?.trading_partner_information.is_kyc_full" image-xs></span><br>
            {{trade?.my_rating_for_trading_partner || 'laden...'}}<br>
            {{trade?.created_at | amDateFormat:'LL' || 'laden...'}}<br>
            {{trade?.successfully_finished_at | amDateFormat:'LL' || 'laden...'}}<br>
            <div *ngIf="trade?.payment_method === 1"><img src="assets/market/sepa.svg" image-xs> SEPA-Überweisung</div>
            <div *ngIf="trade?.payment_method === 2"><img src="assets/market/fidor.svg" image-xs> Express-Handel</div>
            <div *ngIf="trade?.payment_method === 3"><img src="assets/market/fidor_sepa.svg" image-xs> SEPA-Instant</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="trade" class="fade-animation">
    <ion-card-content>
  <ion-card-header no-padding *ngIf="trade?.type == 'buy'">
    Sie erhalten: {{trade?.amount_currency_to_trade_after_fee | number:'1.2-4':'de'}} {{symbol}}
    <p>Sie zahlen: {{trade?.volume_currency_to_pay_after_fee | number:'1.2-2':'de'}} &euro;</p>
  </ion-card-header>
  <ion-card-header no-padding *ngIf="trade?.type == 'sell'">
    <p>Marktplatzgebühr: {{trade?.fee_currency_to_pay | number:'1.2-2':'de'}} &euro;</p>
    Sie erhalten: {{trade?.volume_currency_to_pay_after_fee | number:'1.2-2':'de'}} &euro;
  </ion-card-header>
</ion-card-content>
</ion-card>
</ion-content>
