<ion-header>

    <ion-navbar color="primary">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Marktplatz</ion-title>
  
      <ion-buttons end>
        <button ion-button icon-only (click)="presentProfileModal()">
          <ion-icon name="flash"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  
    <ion-toolbar color="primary">
      <ion-segment [(ngModel)]="market" color="background" padding>
        <ion-segment-button value="btceur" (click)="orders.length = 0; showOrderbook()">
          <strong>BTC</strong><small>/EUR</small>
        </ion-segment-button>
        <ion-segment-button value="bcheur" (click)="orders.length = 0; showOrderbook()">
          <strong>BCH</strong><small>/EUR</small>
        </ion-segment-button>
        <ion-segment-button value="btgeur" (click)="orders.length = 0; showOrderbook()">
          <strong>BTG</strong><small>/EUR</small>
        </ion-segment-button>
        <ion-segment-button value="etheur" (click)="orders.length = 0; showOrderbook()">
          <strong>ETH</strong><small>/EUR</small>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  
  </ion-header>
  <ion-content>
  
    <ion-refresher (ionRefresh)="showOrderbook($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  
    <div *ngFor="let order of orders" [ngClass]="{'fade-animation' : animation }">
      <ion-card (click)="openDetails(order)">
  
        <ion-item>
          <h2>{{order.max_amount_currency_to_trade | number:'1.2-4':'de'}}
            <small>({{order.min_amount_currency_to_trade | number:'1.2-4':'de'}})</small>
          </h2>
          <p>{{order.max_volume_currency_to_pay | number:'1.2-2':'de'}} &euro;</p>
  
          <ion-note item-end badge-flag>
              <img src="assets/flags/{{order.trading_partner_information.seat_of_bank}}.svg" class="marketplace-badge">
            </ion-note>
            <ion-note item-end badges>
                <img src="assets/market/fidor.svg" *ngIf="order.order_requirements.payment_option === 1" class="marketplace-badge">
                <img src="assets/market/fidor_sepa.svg" *ngIf="order.order_requirements.payment_option === 3" class="marketplace-badge">
            </ion-note>
            <ion-note item-end badges>
              <img src="assets/market/verified.svg" *ngIf="order.trading_partner_information.is_kyc_full === true" class="marketplace-badge">
            </ion-note>
          <ion-badge item-end>{{order.price | number:'1.2-6':'de'}} &euro;</ion-badge>
        </ion-item>
  
      </ion-card>
    </div>
  
  </ion-content>