<ion-header>

  <ion-navbar color="primary">
    <!--<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>-->
    <ion-title>Express-Handel</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

    <ion-card *ngIf="!fidor_reservation">
        <ion-card-header text-wrap>Derzeit kein Guthaben für den Express-Handel reserviert.</ion-card-header>
    </ion-card>

  <ion-card *ngIf="fidor_reservation">
    <ion-card-header>Verfügbares Guthaben:</ion-card-header>
    <ion-item text-center>
      <h1>
        <strong text-primary>{{fidor_reservation?.available_amount | number:'1.2-2':'de'}} &euro;</strong>
      </h1>
    </ion-item>
    <ion-item>
      <p><strong>Gültig bis:</strong></p>
      <button ion-button clear item-end>
        <p><strong>{{fidor_reservation?.valid_until | amCalendar}}</strong></p>
      </button>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="fidor_reservation">
    <ion-card-header>Reservierung</ion-card-header>
    <ion-item>
      <p><strong>&uuml;ber:</strong></p>
      <button ion-button clear item-end>
        <p><strong>{{fidor_reservation?.total_amount | number:'1.2-2':'de'}} &euro;</strong></p>
      </button>
    </ion-item>
    <ion-item>
      <p><strong>seit:</strong></p>
      <button ion-button clear item-end>
        <p><strong>{{fidor_reservation?.reserved_at | amCalendar}}</strong></p>
      </button>
    </ion-item>
  </ion-card>
</ion-content>