<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Kontoauszug</ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="market" color="background" padding>
      <ion-segment-button value="btceur" (click)="showAccountLedger();">
        <strong>BTC</strong><small>/EUR</small>
      </ion-segment-button>
      <ion-segment-button value="bcheur" (click)="showAccountLedger();">
        <strong>BCH</strong><small>/EUR</small>
      </ion-segment-button>
      <ion-segment-button value="btgeur" (click)="showAccountLedger();">
        <strong>BTG</strong><small>/EUR</small>
      </ion-segment-button>
      <ion-segment-button value="etheur" (click)="showAccountLedger();">
        <strong>ETH</strong><small>/EUR</small>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>

    <ion-refresher (ionRefresh)="showAccountLedger($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

  <div *ngFor="let item of response?.account_ledger" class="fade-animation">

    <ion-card (click)="openDetail(item?.reference);">

      <ion-item>
        <h2 *ngIf="item?.type == 'buy'">Kauf von {{symbol | uppercase}}</h2>
        <h2 *ngIf="item?.type == 'sell'">Verkauf von {{symbol | uppercase}}</h2>
        <h2 *ngIf="item?.type == 'outgoing_fee_voluntary'">Netzwerk-Gebühr</h2>
        <h2 *ngIf="item?.type == 'payout'">Auszahlung</h2>
        <h2 *ngIf="item?.type == 'inpayment'">Einzahlung</h2>
        <h2 *ngIf="item?.type == 'initial_fork'">Ausschüttung Fork</h2>
        <h3 *ngIf="item?.type == 'initial'">
          <em>- Eröffnung {{symbol | uppercase}} Handel -</em>
        </h3>
        <h3 *ngIf="item?.type == 'account_opening'">
          <em>- Account Eröffnung -</em>
        </h3>
        <p>{{item?.date | amDateFormat:'LL'}}</p>
        <ion-note item-end *ngIf="item?.type == 'buy' || item?.type == 'sell'">
          <span [ngClass]="{'negative': item.type == 'sell', 'positive': item.type == 'buy'}">{{ item?.type == 'sell' ? '-' : ''}}{{item?.trade.currency_to_trade.before_fee | number:'1.2-6':'de'}} {{item?.trade.currency_to_trade.currency | uppercase}}</span>
          <br>
          {{item?.trade.currency_to_pay.before_fee | number:'1.2-6':'de'}} &euro;</ion-note>
        <ion-note item-end *ngIf="item?.type != 'buy' && item?.type != 'sell'" [class]="item?.cashflow < 0 ? 'negative' : 'positive'">{{item?.cashflow | number:'1.2-6':'de'}} {{symbol | uppercase}}</ion-note>
      </ion-item>

    </ion-card>
  </div>

</ion-content>