<!-- Header if login was successful -->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle *ngIf="hideLogin">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="hideLogin">Willkommen</ion-title>
    <ion-title *ngIf="!hideLogin">Bitte lesen</ion-title>
    <ion-buttons end *ngIf="!hideLogin">
      <button ion-button icon-only (click)="presentAlert()">
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar color="primary" *ngIf="hideLogin">
    <ion-segment [(ngModel)]="market" color="background" padding>
      <ion-segment-button value="btceur" (click)="initHome();">
        <strong>BTC</strong><small>/EUR</small>
      </ion-segment-button>
      <ion-segment-button value="bcheur" (click)="initHome();">
        <strong>BCH</strong><small>/EUR</small>
      </ion-segment-button>
      <ion-segment-button value="btgeur" (click)="initHome();">
        <strong>BTG</strong><small>/EUR</small>
      </ion-segment-button>
      <ion-segment-button value="etheur" (click)="initHome();">
        <strong>ETH</strong><small>/EUR</small>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>

  <!-- Content if login was successful -->

  <ion-card *ngIf="stock && hideLogin" class="fade-animation">
    <div [chart]="stock"></div>
  </ion-card>

  <ion-card *ngIf="current_rate && hideLogin" class="fade-animation">
    <ion-item text-center (click)="openHistory()">
      <h1>
        <strong *ngIf="current_rate">{{current_rate | number:'1.2-2':'de'}} &euro;</strong>
        <strong *ngIf="!current_rate">...</strong>
      </h1>
      <!--<p>Aktueller {{currency}} Kurs</p>-->
      <p>Antippen für Historie</p>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="balances && hideLogin" class="fade-animation">
    <ion-item>
      <h3>Ihr Guthaben:</h3>
      <button ion-button clear item-end>
        <strong>{{balances[symbol]['total_amount'] | number:'1.0-5':'de' || 'lade...'}}&nbsp;</strong> {{symbol | uppercase}}
      </button>
    </ion-item>
    <ion-item>
      <h3>Aktueller Gegenwert:</h3>
      <button ion-button clear item-end>
        <strong>&asymp;&nbsp;{{current_value_of_coin | number:'1.2-2':'de'}}&nbsp;</strong>&euro;
      </button>
    </ion-item>
    <ion-item>
      <h3>Reserviertes Guthaben:</h3>
      <button ion-button clear item-end>
        <strong>{{balances[symbol]['reserved_amount'] | number:'1.0-5':'de' || 'lade...'}}&nbsp;</strong> {{symbol | uppercase}}
      </button>
    </ion-item>
    <ion-item>
      <h3>Verfügbares Guthaben:</h3>
      <button ion-button clear item-end>
        <strong>{{balances[symbol]['available_amount'] | number:'1.0-5':'de' || 'lade...'}}&nbsp;</strong> {{symbol | uppercase}}
      </button>
    </ion-item>
  </ion-card>

  <!-- Login Content -->
  <div *ngIf="!hideLogin && !showTextfield" class="fade-animation">
    <ion-card>
      <ion-card-content>
        <em>
          <p>
            <strong>Wir erhalten keinen Zugriff auf sensible Daten wie z.B. Ihre Adresse oder Ihr Bankkonto. Nur Sie einzig und allein
              können Ihre Daten einsehen.</strong> Diese Anwendung steht in keinerlei Beziehung zu Bitcoin.de oder der Bitcoin
            Group. Dementsprechend wird keine Haftung für die Korrektheit der angezeigten Daten oder finanzielle Verluste
            bedingt durch Ihre Handlungen übernommen.
          </p>
          <br>
          <p>
            Diese Anwendung basiert auf der von Bitcoin.de bereitgestellten Trading-API und dient dem reinen beobachten der Aktivitäten
            Ihres Benutzerkontos sowie der aktuellen Kurse. Daher wird zum abfragen des Orderbooks etc. ein
            <strong>API-Key sowie der dazugehörige API-Secret benötigt</strong>. Der API-Key dient in Kombination mit Ihrem API-Secret
            zur Authentifizierung und Autorisierung gegenüber der Trading-API.
          </p>
          <br>
          <p>
            <small>Ihre Keys werden
              <strong>verschlüsselt</strong> in dieser Anwendung gespeichert und sind somit vor unbefugtem Zugriff geschützt. Wir
              haften jedoch nicht für entstandene Kosten oder Datenlecks bedingt durch die unzureichende Sicherung Ihres
              mobilen Endgerätes.</small>
          </p>
        </em>
      </ion-card-content>
      <ion-item>
        <ion-label>
          <small>Ich bin einverstanden</small>
        </ion-label>
        <ion-checkbox [(ngModel)]="accepted" color="primary"></ion-checkbox>
      </ion-item>
    </ion-card>


    <div padding-left padding-right>
      <button ion-button small block [disabled]="!accepted" (click)="showTextfield = true">
        <strong>Keys hinterlegen</strong>
      </button>
      <button ion-button small block clear color="grey" (click)="demoAccess()">
        Ohne Keys fortfahren
      </button>
      <br>
      <br>
      <br>
    </div>
  </div>

  <!-- Login Textfield -->
  <div *ngIf="showTextfield && !hideLogin" class="fade-animation">

    <ion-card>
      <ion-card-content>
        <p>Um Ihre Keys zu erstellen, gehen Sie bitte zu bitcoin.de unter „mein Bitcoin.de“ ➜ „Trading API“ ➜ „Jetzt API-Key beantragen“ oder tippen auf das „?“ Symbol in der oberen rechten Ecke. Die Erstellung und Nutzung der API-Keys ist kostenlos.</p>
        <p>Sie können bei „Erlaubte Aktionen“ auf die Häkchen „createOrder“, „deleteOrder“ &amp; „executeTrade“ verzichten, da es zum jetzigen Zeitpunkt noch nicht möglich ist über diese Anwendung zu handeln. Alle anderen Häkchen sollten jedoch gesetzt werden.</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-item>
        <ion-input type="text" [(ngModel)]="keyInput" placeholder="API-Key"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" [(ngModel)]="secretInput" placeholder="API-Secret"></ion-input>
      </ion-item>
    </ion-card>

    <div padding-left padding-right>
      <button ion-button small block [disabled]="!keyInput || !secretInput" (click)="storeKeys(keyInput, secretInput)">
        <strong>Speichern</strong>
      </button>
      <button ion-button small block clear color="grey" (click)="showTextfield = false">
        Zurück
      </button>
      <br>
      <br>
      <br>
    </div>
  </div>

</ion-content>