<ion-header>

  <ion-toolbar color="primary">

    <ion-segment [(ngModel)]="type" color="background">
      <ion-segment-button value="buy">
        Kaufen
      </ion-segment-button>
      <ion-segment-button value="sell">
        Verkaufen
      </ion-segment-button>
    </ion-segment>

    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>


<ion-content [ngSwitch]="type">

  <form [formGroup]="order" (ngSubmit)="validateForm()">

    <ion-card>
      <ion-card-header *ngSwitchCase="'buy'">
        Neue Kaufanfrage
        <br>
        <small>{{currency}}</small>
      </ion-card-header>
      <ion-card-header *ngSwitchCase="'sell'">
        Neues Verkaufsangebot
        <br>
        <small>{{currency}}</small>
      </ion-card-header>
      <ion-list no-lines>
        <ion-item>
          <ion-label color="primary" stacked>Anzahl {{symbol}}:</ion-label>
          <ion-input required formControlName="max_amount" type="number" placeholder="0,5" [(ngModel)]="amount" (input)="onInputAmount($event.target.value)"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked>Mindestanzahl {{symbol}}:</ion-label>
          <ion-input required formControlName="min_amount" [(ngModel)]="min_amount" type="number" placeholder="0,1"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked>Preis pro {{symbol}}:</ion-label>
          <ion-input required formControlName="price" type="number" placeholder="{{current_rate | number:'1.2-2':'de' || '0'}}" [(ngModel)]="price"
            ></ion-input>
        </ion-item>

        <ion-item>
          <h3 color="primary" stacked>Volumen: {{volume | number:'1.2-2':'de'}} &euro;</h3>
          <!--<ion-input type="number" placeholder="{{volume | number:'1.2-2':'de'}} &euro;" readonly="true" color="primary"></ion-input>-->
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-list>

        <ion-item>
          <ion-label>
            <small>Ablaufdatum*</small>
          </ion-label>
          <ion-datetime formControlName="day" (ionChange)="notify($event)" displayFormat="DD.MM.YYYY" [min]="time_now" max="2020" pickerFormat="DD.MM.YYYY"
            doneText="Fertig" cancelText="Abbrechen"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>
            <small>Ablaufdatum Zeit*</small>
          </ion-label>
          <ion-datetime formControlName="time" (ionChange)="notify($event)" displayFormat="HH:mm" minuteValues="0,15,30,45" displayFormat="HH:mm"
            doneText="Fertig" cancelText="Abbrechen"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>
            <small>Mindest Trust-Level *</small>
          </ion-label>
          <ion-select formControlName="min_trust_level" interface="popover">
            <ion-option value="bronze">Bronze
              <img src="assets/level/bronze.svg" image-xs>
            </ion-option>
            <ion-option value="silver">Silber
              <img src="assets/level/silver.svg" image-xs>
            </ion-option>
            <ion-option value="gold">Gold
              <img src="assets/level/gold.svg" image-xs>
            </ion-option>
            <ion-option value="platin">Platin
              <img src="assets/level/platin.svg" image-xs>
            </ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-segment [(ngModel)]="country_settings" [ngModelOptions]="{standalone: true}">
            <ion-segment-button value="all">
              Alle Länder
            </ion-segment-button>
            <ion-segment-button value="custom">
              Land Wählen
            </ion-segment-button>
          </ion-segment>
        </ion-item>

        <div [ngSwitch]="country_settings">
          <ion-item *ngSwitchCase="'custom'">
            <ion-label>
              <small>Sitz der Bank (Verkäufer)</small>
            </ion-label>
            <ion-select formControlName="seat_of_bank" [(ngModel)]="country_bank" multiple="true" cancelText="Abbrechen" okText="Wählen">
              <ion-option *ngFor="let country of countries" [value]="country[1]">{{country[0]}}</ion-option>
            </ion-select>
          </ion-item>
        </div>

        <ion-item *ngSwitchCase="'sell'">
          <ion-label>
            <small>Handelsoptionen</small>
          </ion-label>
          <ion-select formControlName="payment_option" [(ngModel)]="payment_option" cancelText="Abbrechen" okText="Wählen">
            <ion-option value="1">nur Express-Handel</ion-option>
            <ion-option value="2">Express &amp; SEPA</ion-option>
            <ion-option value="3">nur SEPA</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card>
      <ion-list>
        <ion-item>
          <ion-label>
            <small>Automatisches
              <br>Rest-/Neu-Verkaufsangebot</small>
          </ion-label>
          <ion-checkbox formControlName="new_order_for_remaining_amount" color="primary"></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>
            <small>Nur vollständig
              <br>identifizierte Käufer zulassen</small>
          </ion-label>
          <ion-checkbox formControlName="only_kyc_full" color="primary"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-card>

    <div padding-left padding-right padding-bottom>
      <button type="submit" ion-button block small color="primary" *ngSwitchCase="'buy'" [disabled]="!amount || !min_amount || !price">Kaufanfrage Speichern</button>
      <button type="submit" ion-button block small color="primary" *ngSwitchCase="'sell'">Verkaufsangebot Speichern</button>
    </div>

  </form>

</ion-content>