<ion-header>

  <ion-navbar color="primary">
    <ion-title>Blog Artikel</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="shareArticle(article)">
        <ion-icon name="share-alt"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card text-wrap class="fade-animation">
    <img [src]="article.thumbnail" *ngIf="article.thumbnail" />
    <ion-item text-wrap>
      <h2 [innerHTML]="article.title"></h2>
      <p>{{article.pubDate | amTimeAgo}}</p>
    </ion-item>
    <ion-card-content [innerHTML]="article.content"></ion-card-content>
  </ion-card>
</ion-content>