<ion-header>

  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title (click)="locationDetail(8225)">Karte</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-bounce bg-transparent>
    <div #map style="height:100%;"></div>
</ion-content>
