<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{currency}} Historie</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>

  <ion-card *ngIf="history" class="fade-animation">
    <ion-list lines>
      <ion-item text-wrap *ngFor="let histo of history">
        <h2>{{histo.close | number:'1.2-2':'de'}} &euro;</h2>
        <p item-end>{{histo.time * 1000 | amDateFormat:'LL'}}</p>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>