// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.fixed-content, .scroll-content {
  background: #f7f7f7 !important;
}
[bg-transparent] .fixed-content, .scroll-content {
  background: transparent !important;
}

.marketplace-badge {
  display: inline-block !important;
  width: 16px !important;
  height: 16px !important;
}

.coin-logo {
  display: inline-block !important;
  opacity: 0.8 !important;
  width: 20px !important;
  height: 20px !important;
}

.marketplace-star {
  display: inline-block !important;
  width: 12px !important;
  height: 12px !important;
}

[image-xs] {
  display: inline-block !important;
  width: 12px !important;
  height: 12px !important;
}

[image-s] {
  display: inline-block !important;
  width: 16px !important;
  height: 16px !important;
}

[text-secondary] {
  color: #e84a02 !important;
}
[text-primary] {
  color: #4f6587 !important;
}

[text-grey] {
  color: #a8a8a8 !important;
}

.fade-animation {
  -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.positive {
  color: #4f6587;
}

.negative {
  color: #e84a02;
}