<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <ion-list-header menuClose (click)="openPage(page);" *ngFor="let page of pages">
        <ion-icon [name]="page.icon" item-start text-grey></ion-icon>
        <span [innerHTML]="page.title"></span><small *ngIf="page.login && !loggedIn"> (Login)</small>
      </ion-list-header>
      <br>
      <ion-list-header menuClose (click)="sendMail()">
        <ion-icon name="mail" item-start text-grey></ion-icon>
        <em>Kontakt</em>
      </ion-list-header>
    </ion-list>
  </ion-content>

  <ion-footer text-center *ngIf="loggedIn">
    <ion-toolbar (click)="logoutConfirm()" menuClose>
      Ausloggen
    </ion-toolbar>
  </ion-footer>
  <ion-footer text-center *ngIf="!loggedIn">
    <ion-toolbar (click)="login()" menuClose>
      Einloggen
    </ion-toolbar>
  </ion-footer>

</ion-menu>


<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>