<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Bitcoin News</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>

  <ion-refresher (ionRefresh)="loadArticles($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngFor="let article of articles" class="fade-animation">
    <ion-card (click)="openDetail(article.url);">

      <ion-item text-wrap>
        <ion-thumbnail item-start>
          <img [src]="article.urlToImage" />
        </ion-thumbnail>
        <p>
          <strong>{{article.source.name}}</strong>
        </p>
        <h2 [innerHTML]="article.title"></h2>
        <p>{{article.publishedAt | date:'fullDate':undefined:'de'}}</p>
      </ion-item>
    </ion-card>
  </div>

</ion-content>