<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{order.order_id}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card *ngIf="order" class="fade-animation">
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col (click)="setAmount()">
            <p>Menge</p>
          </ion-col>
          <ion-col>
            <p>Kurs</p>
          </ion-col>
          <ion-col>
            <p>Volumen</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col (click)="setAmount()">
            {{order.max_amount_currency_to_trade | number:'1.2-4':'de'}}
            <small>({{order.min_amount_currency_to_trade | number:'1.2-4':'de'}})</small>
          </ion-col>
          <ion-col>
            {{order.price | number:'1.2-2':'de'}} &euro;
          </ion-col>
          <ion-col>
            {{order.max_volume_currency_to_pay | number:'1.2-2':'de'}} &euro;
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>




  <ion-card *ngIf="order" class="fade-animation">
    <ion-card-content>
      <ion-grid no-padding>
        <ion-row>
          <ion-col>
            <p>
              <small *ngIf="type == 'buy'">Verkäufer</small>
              <small *ngIf="type == 'sell'">Käufer</small>
            </p>

            {{order.trading_partner_information.username}}
            <img src="assets/level/{{order.trading_partner_information.trust_level}}.svg" image-xs>
            <img src="assets/market/verified.svg" *ngIf="order.trading_partner_information.is_kyc_full" image-xs>
            <p>
              <img src="assets/flags/{{order.trading_partner_information.seat_of_bank}}.svg" image-xs> {{order.trading_partner_information.bank_name}}
            </p>
          </ion-col>
          <ion-col>
            <p>
              <small>Anforderungen</small>
            </p>
            <span *ngIf="order.order_requirements.seat_of_bank.length === 33">
              <img src="assets/flags/EU.svg" image-xs> Europa 
            </span>
            <span *ngIf="order.order_requirements.seat_of_bank.length !== 33">
              <img *ngFor="let seat of order.order_requirements.seat_of_bank" src="assets/flags/{{seat}}.svg" image-xs> 
            </span>
            <img src="assets/level/{{order.order_requirements.min_trust_level}}.svg" image-xs> <span *ngIf="order.order_requirements.min_trust_level == 'bronze'">Bronze</span><span *ngIf="order.order_requirements.min_trust_level == 'solver'">Silber</span><span *ngIf="order.order_requirements.min_trust_level == 'gold'">Gold</span><span *ngIf="order.order_requirements.min_trust_level == 'platin'">Platin</span>
            <br>
            <span *ngIf="order.order_requirements.payment_option === 1"><img src="assets/market/fidor.svg" image-xs> Express-Handel</span>
            <span *ngIf="order.order_requirements.payment_option === 3"><img src="assets/market/fidor_sepa.svg" image-xs> SEPA &amp; Express</span>
            <span *ngIf="order.order_requirements.payment_option === 2"><img src="assets/market/sepa.svg" image-xs> SEPA &Uuml;berweisung</span>
            <span *ngIf="order.sepa_option === 1"><br><img src="/assets/market/tachometer.svg" image-xs> SEPA-Echtzeit&uuml;berweisung</span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <!--<ion-card *ngIf="order" class="fade-animation">
    <ion-item>
      <ion-label color="primary" stacked>Menge {{currency}}:</ion-label>
      <ion-input type="number" pattern="([0-9]{8})" min="0.1" [max]="order.max_amount" step="0.1" placeholder="0,1" [value]="order_input"
        (input)="calculatePrice($event.target.value)" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <p>&asymp; {{calculated_value || order.price * 0.1 | number:'1.2-2':'de'}} &euro;</p>
    </ion-item>
  </ion-card>

  <div padding-left padding-right  *ngIf="order" class="fade-animation">
    <button ion-button block small color="primary" *ngIf="type == 'buy'" (click)="buyOrder()">Jetzt kaufen</button>
    <button ion-button block small color="primary" *ngIf="type == 'sell'">Jetzt verkaufen</button>
  </div>-->

</ion-content>