<ion-header>

  <ion-navbar color="primary">
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Trades Historie</ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="market" color="background" padding>
      <ion-segment-button value="btceur" (click)="showMyTrades()">
        <strong>BTC</strong><small>/EUR</small>
      </ion-segment-button>
      <ion-segment-button value="bcheur" (click)="showMyTrades()">
        <strong>BCH</strong><small>/EUR</small>
      </ion-segment-button>
      <ion-segment-button value="btgeur" (click)="showMyTrades()">
        <strong>BTG</strong><small>/EUR</small>
      </ion-segment-button>
      <ion-segment-button value="etheur" (click)="showMyTrades()">
        <strong>ETH</strong><small>/EUR</small>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content>

    <ion-refresher (ionRefresh)="showMyTrades($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

    <div *ngFor="let trade of response?.trades" class="fade-animation">

        <ion-card (click)="openDetail(trade);">
    
          <ion-item>
            <h2 *ngIf="trade.type == 'buy'">Kauf von {{symbol}}</h2>
            <h2 *ngIf="trade.type == 'sell'">Verkauf von {{symbol}}</h2>
            <p>{{trade?.successfully_finished_at | amDateFormat:'LL'}}</p>
            <ion-note item-end [ngClass]="{'negative': trade.type == 'sell', 'positive': trade.type == 'buy'}">
              <span *ngIf="trade.type == 'sell'">-</span>{{trade?.amount_currency_to_trade | number:'1.2-6':'de'}} {{symbol}}
            </ion-note>
          </ion-item>
    
        </ion-card>
      </div>

</ion-content>
