<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Converter</ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-segment [(ngModel)]="market" color="background" padding>
      <ion-segment-button value="btceur" (click)="loadPrice();">
        <strong>BTC</strong>
        <small>/EUR</small>
      </ion-segment-button>
      <ion-segment-button value="bcheur" (click)="loadPrice();">
        <strong>BCH</strong>
        <small>/EUR</small>
      </ion-segment-button>
      <ion-segment-button value="btgeur" (click)="loadPrice();">
        <strong>BTG</strong>
        <small>/EUR</small>
      </ion-segment-button>
      <ion-segment-button value="etheur" (click)="loadPrice();">
        <strong>ETH</strong>
        <small>/EUR</small>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>
<ion-content>

  <ion-card class="fade-animation">
    <ion-item *ngIf="converter == 'a-b'">
      <ion-input type="number" placeholder="0" [value]="input" (input)="calculateAB(); input = $event.target.value" text-primary></ion-input>
      <h1 item-end text-primary>&euro;</h1>
    </ion-item>
    <ion-item *ngIf="converter == 'b-a'">
      <ion-input type="number" placeholder="0" [value]="input" (input)="calculateBA(); input = $event.target.value" text-primary></ion-input>
      <h1 item-end text-primary>{{symbol}}</h1>
    </ion-item>
  </ion-card>
  <h1 text-primary text-center (click)="swap();">
    <ion-icon name="repeat"></ion-icon>
  </h1>
  <ion-card class="fade-animation">
    <ion-item *ngIf="converter == 'a-b'">
      <h1 text-primary>{{result || 0 | number:'1.2-8':'de'}}</h1>
      <h1 item-end text-primary>{{symbol}}</h1>
    </ion-item>
    <ion-item *ngIf="converter == 'b-a'">
      <h1 text-primary>{{result || 0 | number:'1.2-2':'de'}}</h1>
      <h1 item-end text-primary>&euro;</h1>
    </ion-item>
  </ion-card>

  <h6 text-primary text-center>Aktueller Kurs: {{price | number:'1.2-2':'de'}} &euro;</h6>

</ion-content>