<ion-header>

  <ion-navbar color="primary">
    <ion-title>Details</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>


  <ion-card *ngIf="location">

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/map/icons/{{location?.category}}.jpg">
      </ion-avatar>
      <h2>{{location?.name_ascii}}</h2>
      <p>{{location?.street}}, {{location?.city}}</p>
    </ion-item>

    <img [src]="static_map">

    <ion-card-content>
      <p>{{location?.description}}</p>
    </ion-card-content>

    <ion-list>
      <ion-item text-wrap>
        <ion-icon name="compass" item-start></ion-icon>
        <h3>{{location?.street}}, {{location?.city}} {{location?.postcode}}, {{location?.state}}</h3>
      </ion-item>
      <ion-item *ngIf="location.website" (click)="openWebsite(location?.website)">
        <ion-icon name="link" item-start></ion-icon>
        <h3>{{location?.website}}</h3>
      </ion-item>
      <ion-item *ngIf="location.email" (click)="openEmail(location?.email)">
        <ion-icon name="mail" item-start></ion-icon>
        <h3>{{location?.email}}</h3>
      </ion-item>
      <ion-item *ngIf="location.phone" (click)="openPhone(location?.phone)">
        <ion-icon name="call" item-start></ion-icon>
        <h3>{{location?.phone}}</h3>
      </ion-item>
      <ion-item *ngIf="location.facebook" (click)="openFacebook(location?.facebook)">
        <ion-icon name="logo-facebook" item-start></ion-icon>
        <h3>{{location?.facebook}}</h3>
      </ion-item>
      <ion-item *ngIf="location.twitter" (click)="openTwitter(location?.twitter)">
        <ion-icon name="logo-twitter" item-start></ion-icon>
        <h3>{{location?.twitter}}</h3>
      </ion-item>
      <ion-item *ngIf="location.opening_hours">
        <ion-icon name="time" item-start></ion-icon>
        <h3>{{location?.opening_hours}}</h3>
      </ion-item>
    </ion-list>

  </ion-card>

</ion-content>