page-marketplace-buy {
 [subtitle] {
     display: block;
     font-weight: 400;
 }
 [badges] {
     width: 20px !important;
 }
 [badge-flag] {
     width: 30px !important;
 }
 ion-note {
     margin-left: 0px !important;
     margin-right: 0px !important;
 }
}
